body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* here you change the font */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animation {
  opacity: 1;
  animation: opacityHide .5s ease-in-out 1;
}
@keyframes opacityHide {
  10% { opacity: 1;}
  40% {opacity: .8;}
  60% {opacity: .6;}
  80% {opacity: .4;}
  100% {opacity: 0;}
}